:root {
  --main-grey: #eaeaea;
  --near-white: #f0f0f0;
  --very-white: #F7F7F7;
  --main-color: #5e2ca5;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color:#eaeaea;
}

.active {
  background-color: rgba(255, 255, 255, .2);
}