:root {
  --main-grey: #eaeaea;
  --near-white: #f0f0f0;
  --very-white: #F7F7F7;
  /* --main-color: #4056a1; */
  /* --main-color: #3d646d; */
  /* --main-color: #525793; */
  --main-color: #575b8e;
  --main-color-washed: rgba(88,91,208, .1);
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* * {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
} */

body {
  background-color:#eaeaea;
}

.active {
  color: white;
  background-color: rgba(255, 255, 255, .2);
}

.active:hover {
  color: white;
}

.is-primary {
  background-color: #6958d0;
}

a.nav-item {
  color: white;
}

/* main color as tachyons styels */
.main { color: var(--main-color);}
.bg-main { background-color: var(--main-color);}
.b--main { border-color: var(--main-color);}
.hover-bg-main:hover,
.hover-bg-main:focus { background-color: var(--main-color); }