:root {
  --main-grey: #eaeaea;
  --near-white: #f0f0f0;
  --very-white: #F7F7F7;
  /* --main-color: #5e2ca5; */
  --main-color: #6958d0;
  /* --main-color: #127d56; */
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* * {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
} */

body {
  background-color:#eaeaea;
}

.active {
  color: white;
  background-color: rgba(255, 255, 255, .2);
}

.active:hover {
  color: white;
}

.is-primary {
  background-color: #6958d0;
}

a.nav-item {
  color: white;
}

.main { color: var(--main-color);}
.bg-main { background-color: var(--main-color);}
.b--main { border-color: var(--main-color);}